@media(min-width:782px) {
  header {
    display: none;
  }
 .header-items {
   display: inline;
 }
 #drawer_toggle {
   display: none;
 }
 .wrapper {
   width: 80%;
 }
 .side-contents {
  width: 20%;  
  right: 0;
  position: fixed;
  display: flex;
  font-family: 'Modern Antiqua', 'Noto Sans JP',serif;
 }
 .side-contents img {
   width: 85px;
   padding: 30px 0 42px 0;
 }
 
 .side-contents ul li {
   padding-bottom: 25px;
 }
 .side-items {
   padding-left: 19%;
 }
 .side-contents {
  padding-left: 19%;
 }
 .side-icons {
   padding-top: 50px;
 }
 .side-icons a {
   padding-right: 10px;
 }
 .side-contents a:hover {
   text-decoration: underline;
 }
 .side-contents .fab:hover {
   opacity: 0.8;
 }
 .message-wrapper {
   width: 60%;
 }
 .message-wrapper p {
   padding-bottom: 70px;
 }
 .photo-wrapper img {
   width: 33.3333333%;
   
 }
 span .big-photo {
   width: 100%;
 }
 .brand-contents {
   display: flex;
  
 }
 .brand-items {
  width: 25%;
  
  padding: 0 25px;
 
 }
 .brand-items img {
   width: 100%;
 }
 .brand-items p {
   text-align: left;
   padding-bottom: 57px;
 }
 
 .project-items img {
   float: left;
   width: 375px;
   height: 225px;
   padding-right: 20px;
 }
 .project-items p{
  
 }
 .company-contents {
   display: flex;
 }
 .company-contents p {
   width: 40%;
 }
 .ggmap {
   width: 60%;
   padding-bottom: 210px;
 }
 footer {
   width: 80%;
 }
 footer p {
   text-align: center;
   padding-top: 220px;
 }
}